/*
Platinum: #D3D4D9
Air Force Blue: #4B88A2
Fire Brick: #BB0A21
Eerie Black: #252627
Snow: #FFF9FB
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-color: #FFF9fB;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#content-wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

#logo {
    font-family: 'Permanent Marker', cursive;
    position: fixed;
    top: 0;
    left: 5%;
    height: 100px;
    width: 100px;
}

#logo-content-1 {
    color: #5498b6;
    position: fixed;
    top: 1%;
    left: 1%;
}

#logo-content-2 {
    color: #ca394c;
    position: fixed;
    top: 3%;
    left: 3%;
}

#logo-content-3 {
    color: #252627;
    position: fixed;
    top: 5%;
    left: 4%;
}

#frame-calculator {
    font-family: 'Rubik', sans-serif;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #D3D4D9;
    border-radius: 5px;
    box-shadow: 2px 4px 1px #797979;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

.move-container {
    height: 95%;
    width: 40%;
    text-align: center;
    place-content: center;
    vertical-align: top;
}

.move-image-container {
    display: grid;
    background-color: #949496;
    height: 80%;
    width: 100%;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 2px #7a7a7b;
    align-items: center;
    justify-content: center;
}

.move-image-container img {
    display: block;
    width: 180px;
}

#move-image-2 {
    transform: scaleX(-1);
}

#move-header-1, #move-header-2 {
    height: 5%;
}

.settings {
    display: flex;
    background-color: #949496;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 80%;
    width: fit-content;
    font-family: 'Rubik', sans-serif;
}

#settings-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-self: end;
    align-self: center;
    box-shadow: 0px 2px 0px 0px #797979;
}

#settings-2 {
    grid-column-start: 4;
    grid-column-end: 5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-self: start;
    align-self: center;
    box-shadow: 2px 2px 1px 1px #797979;
}

.settings-button {
    display: flex;
    width: 25px;
    height:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.settings-form {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    opacity: 0;
    width: 0;
    height: 100%;
    flex-grow: 1;
    transition: width 0.5s ease-in-out 0.75s, opacity 0.5s ease-in-out 0.5s;
}

.settings-open {
    opacity: 1;
    width: 150px;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out 0.5s;
}

.button-rotator {
    pointer-events: none;
    transition: transform 0.5s;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s;
}

#settings-button-1, #settings-form-2 {
  order: 1;
  border-right: #D3D4D9 solid 2px;
}

#settings-button-2, #settings-form-1 {
    order: 2;
    border-left: #D3D4D9 solid 2px;
}

.character-select {
    justify-self: center;
}

.radio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}


.radio-group-item {
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    user-select: none;
}

.radio-group-item:hover {
   background-color: #686868; 
}

.radio-group-item label {
    width: 100%;
}

input[type=radio] {
    visibility: hidden;
}
