/*
Platinum: #D3D4D9
Air Force Blue: #4B88A2
Fire Brick: #BB0A21
Eerie Black: #252627
Snow: #FFF9FB
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body, html {
    background-color: #FFF9fB;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#content-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 10%;
}

#logo {
    display: flex;
    justify-content: space-evenly;
    gap: 0;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive;
    position: fixed;
    left: 4vh;
}

#logo-content-1 {
    color: #5498b6;
    /* position: fixed; */
    /* top: -2vh; */
    /* left: 1vw; */
}

#logo-content-2 {
    color: #ca394c;
    /* position: fixed; */
    /* top: 1vh; */
    /* left: 1vw; */
}

#logo-content-3 {
    color: #252627;
    /* position: fixed; */
    /* top:  4%; */
    /* left: 1%; */
}

#frame-calculator {
    font-family: 'Rubik', sans-serif;
    display: flex;
    order: 2;
    gap: 100px;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-bottom: 2%;
    width: 80%;
    height: 50%;
    margin-right: 2%;
}

.move-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10%;
    height: 100%;
    width: 40%;
    text-align: center;
    place-content: center;
}

.move-image-container {
    display: grid;
    width: 100%;
    justify-content: center;
    align-self: center;
}

.move-image-container img {
    display: block;
    width: 180px;
}

#move-image-2 {
    transform: scaleX(-1);
}

#move-header-1, #move-header-2 {
    height: 5%;
}

.settings {
    height: 100%;
    width: fit-content;
    font-family: 'Rubik', sans-serif;
    justify-self: center;
    background-color:#888888;
    box-shadow: 2px 0 0 0 #252627;
}

#settings-1 {
    order: 1;
    align-self: center;
    /* border-right: #252627 2px solid; */
    padding-right: 3%;
}

#settings-2 {
    align-self: center;
    order: 3;
}

.settings-form {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7%;
    opacity: 1;
    width: 150px;
    height: 80%;
    margin-top: 50%;
    flex-grow: 1;
    transition: width 0.5s ease-in-out 0.75s, opacity 0.5s ease-in-out 0.5s;
}

.character-select {
    justify-self: center;
}

.radio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}

.radio-group-item {
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    user-select: none;
}

.radio-group-item:hover {
   background-color: #686868; 
}

.radio-group-item label {
    width: 100%;
}

input[type=radio] {
    visibility: hidden;
}

h4 {
    border-bottom: #686868 2px solid;
}